{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Login | NinHub</title>

    <link rel="stylesheet" href="{% static 'css/auth.css' %}">

</head>

<body>

<div class="background">

    <div class="login-card">

        <img src="{% static 'logo/NinHubLogo.png' %}" class="logo">

        <h1>Welcome Back</h1>

        <p>Sign in to continue to NinHub</p>
        {% if error %}
            <p style="color: red;">{{error}}</p>
        {% endif %}
        <form method="POST">

            {% csrf_token %}

            <label>Username</label>
            <input
                type="text"
                name="username"
                required
                style="width:100%;padding:12px;margin:10px 0 20px;border-radius:8px;border:none;"
            >
            <label>Password</label>
            <input
                type="password"
                name="password"
                required
                style="width:100%;padding:12px;margin:10px 0 20px;border-radius:8px;border:none;"
            >
            <button type="submit">
                Login
            </button>

        </form>

        <div class="bottom-text">

            Don't have an account?

            <a href="{% url 'register' %}">
                Register
            </a>

        </div>

    </div>

</div>

</body>
</html>