{% extends "base.html" %}
{% load static %}

{% block title %}
    Create Post | NinHub
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}">
{% endblock %}

{% block content %}
<div class="create-post-container">

    <h2>Create New Post</h2>

    <form method="POST" enctype="multipart/form-data" class="create-post-form">

        {% csrf_token %}

        <div class="image-upload">

            <img id="preview">

            <div class="upload-placeholder">
                <h3>📷 Upload Image</h3>
                <p>Click to select an image</p>
            </div>

            {{ form.image }}

        </div>

        {{ form.caption }}

        <button type="submit">
            Share Post
        </button>

    </form>

</div>
{% endblock %}