<!DOCTYPE html>
<html>
    <head>
        <title>University | Staff</title>
    </head>
    <body>
        <a href='{% url 'show_staff' %}'>Staff</a>
        <a href='{% url 'show_dep' %}'>Departments</a>
        <a href='{% url 'show_students' %}'>Students</a>
        <h1>Student names : </h1>
        <ul>
            {% for student in students %}
            <li>{{ student }}</li>
            {% endfor %}
        </ul>
        <a href='{% url 'add_students' %}'>Add Students</a>
    </body>
</html>