{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login | MovieTime</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<header>

    <a style="text-decoration: none;" href="{% url 'index' %}"><h1>🎬 MovieTime</h1></a>

    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'register' %}">Register</a>
    </nav>

</header>

<section class="hero">

    <h2>Login</h2>

    <p>Welcome back!</p>

</section>

<div style="max-width:450px;margin:40px auto;">

    {% if error %}
        <p style="color:#ef4444;text-align:center;">
            {{ error }}
        </p><br>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label>Username</label>
        <input
            type="text"
            name="username"
            required
            style="width:100%;padding:12px;margin:10px 0 20px;border-radius:8px;border:none;"
        >
        <label>Password</label>
        <input
            type="password"
            name="password"
            required
            style="width:100%;padding:12px;margin:10px 0 20px;border-radius:8px;border:none;"
        >
        <button type="submit">
            Login
        </button>

    </form>

    <p style="text-align:center;margin-top:20px;">
        Don't have an account?

        <a href="{% url 'register' %}" style="color:#f43f5e;">
            Register
        </a>
    </p>

</div>

</body>
</html>