
{% extends "base.html" %}

{% load static %}

{% block title %}
    {{ profile.user.username }} | NinHub
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <img class="profile-pic" src="{{ profile.pfp.url }}">
        <div class="profile-info">
            <div class="top">
                <h2>{{ profile.user.username }}</h2>
                {% if is_me %}
                    <a href="{% url 'edit' %}">
                        Edit Profile
                    </a>
                {% else %}
                    {% if is_following %}
                        <form method="POST" action="{% url 'unfollow' profile.user.username %}">
                            {% csrf_token %}
                            <button>Following</button>
                        </form>
                    {% else %}
                        <form method="POST" action="{% url 'follow' profile.user.username %}">
                            {% csrf_token %}
                            <button>Follow</button>
                        </form>
                    {% endif %}
                    <a href="{% url 'chat' profile.user.username %}">
                        Message
                    </a>
                {% endif %}
            </div>

            <div class="stats">
                <span><b>{{profile.user.posts.count}}</b> Posts</span>
                <span><b>{{profile.user.follower.count}}</b> Followers</span>
                <span><b>{{profile.user.following.count}}</b> Following</span>
            </div>

            <div class="bio">
                <p>{{ profile.bio }}</p>
                <p>{{ profile.location }}</p>
                <a href="{{ profile.website }}" target="_blank">
                    {{ profile.website }}
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="tabs">
        <button>Posts</button>
        <button>Projects</button>
        <button>Saved</button>
    </div>

    <div class="post-grid">
        {% for post in profile.user.posts.all %}
            <div class="grid-item">
                <img src="{{ post.image.url }}">

                {% if request.user == profile.user %}
                    <form method="POST"
                        action="{% url 'delete_post' post.id %}"
                        onsubmit="return confirm('Delete this post?');">
                        {% csrf_token %}
                        <button 
                            type="submit" 
                            style="
                            background-color: transparent; 
                            color: #c4dbff;
                            border: none;
                            margin: 10px;
                            ">
                            Delete
                        </button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}